dataset/mc30/
dataset/rg65/
dataset/wordsim353/
dataset/other/

experiment/src/merger.csv
experiment/src/tmp/
experiment/src/uri/
experiment/src/predicate*/
experiment/src/path/
experiment/src/log/
experiment/src/pf_ipf*/

experiment/src/nohup.out
experiment/src/__pycache__/
experiment/src/entgraph/triple/
experiment/src/entgraph/finish
experiment/src/entgraph/merger
experiment/src/measure/rg.csv.ret

experiment/src-restructure/uri
experiment/src-restructure/entity
experiment/src-restructure/wd_set
experiment/src-restructure/ent_set
experiment/src-restructure/mc/

paper/latex/*
!paper/latex/tex/
!paper/latex/pic/
!paper/latex/*.tex
!paper/latex/*.sty
!paper/latex/*.bib
!paper/latex/*.bst

.vscode/